<h2>Mise à jour du produit '{{product.name}}'</h2>
<div class="col-sm-2"></div>
<div  class="col-sm-8" *ngIf="product">
  <div class="form-group row">
    <label class="col-2 col-form-label">Id: </label>
    <div class="col-10">
      <p class="form-control-static">
        {{product.id}}
      </p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Name: </label>
    <div class="col-10">
      <input [(ngModel)]="product.name" class="form-control" placeholder="Name" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Description: </label>
    <div class="col-10">
      <input [(ngModel)]="product.description" class="form-control" placeholder="Description" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">CodePaquet: </label>
    <div class="col-10">
      <input [(ngModel)]="product.codePaquet" class="form-control" placeholder="CodePaquet" />
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
    <button type="submit" class="btn btn-primary" (click)="updateProduct()">Save</button>
  </div>
</div>
<div class="col-sm-2"></div>
