<h2>Liste des produits</h2>
<div class="col-12">
  <table class="table table-hover">
    <thead class="table-inverse">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th class="hidden-xs-down">Description</th>
        <th>Code Paquet</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" [routerLink]="['/versions', product.idAppli]">
        <th scope="row">{{product.idAppli}}</th>
        <td>{{product.name}}</td>
        <td class="hidden-xs-down">{{product.description}}</td>
        <td>{{product.codePaquet}}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/product', product.id]">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="newProduct">
    <button type="button" class="btn btn-primary" [routerLink]="['/product', 0]">
      <i class="fa fa-plus" aria-hidden="true"></i> Nouveau produit
    </button>
  </div>
</div>
